<div class="row">

    <div class="col-2">

        <input type="text" [(ngModel)]="newDashboardName" class="form-control" placeholder="Enter Dashboard Name" />

        <button class="btn btn-primary mt-1" (click)="addNewDashboard()">Add Dashboard</button>

        <!-- Tree Control -->

        <br />
        <br />

        <div *ngIf="appService.appState.selectedDashboard">
            <div class="dashboardName d-flex">
                <p class="flex-grow-1">{{appService.appState.selectedDashboard.name}}</p>
                <button class="btn btn-sm btn-success" (click)="newFile()"><i class="bi bi-file-earmark-plus"></i> </button>
            &nbsp;
            <button class="btn btn-sm btn-primary" (click)="newFolder()"> <i class="bi bi-folder-plus"></i></button>

            </div>
            
        </div>

        <document-manager class="sidebar" [documents]="appService.appState.selectedDashboard?.documents"></document-manager>
    </div>

    <div class="col-10">


    </div>

</div>