<div [matMenuTriggerFor]="menu" class="file-manager ml-3 flex-grow-1"
    *ngIf="(!document.isEditing) && document.isDeleted === false" (contextmenu)='onRightClick()' (click)="onLeftClick()"
    [ngClass]="{'isSelected':  this.document?.isSelected }">

    <!-- <img src="{{ getFileIconLocation() }}" alt="" /> -->
    <ng-container>
        <img src={{getFileIcon()}}  onerror="this.onerror=null;this.src='http://example.com/existent-image.jpg';"  on ealt="" width="16" height="16" />
    </ng-container>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#276678" class="bi bi-file-earmark-fill"
        viewBox="0 0 16 16">
        <path
            d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
    </svg> -->
    {{document.name}}

</div>
<input #inputField type="text" (blur)="saveFileBlur()" (keyup)="saveFileOnKeyUp($event)"
    class="form-control my-form-control" *ngIf="document.isEditing === true " [formControl]="fileName"
    placeholder="File Name" />


<!-- menu items -->
<mat-menu #menu="matMenu" yPosition="above">
    <button mat-menu-item (click)="deleteFile()">Delete</button>
    <button mat-menu-item (click)="renameFile()">Rename</button>
</mat-menu>