<div class="d-flex folder-manager">
    <div  [matMenuTriggerFor]="menu" (contextmenu)='onRightClick()' tabindex="1" class=" flex-grow-1" *ngIf="!document.isEditing" (blur)="document.isSelected = false" (click)="clickedOnDocument()"
    [ngClass]="{'isSelected': document.isSelected === true}" ><i class="bi bi-folder"></i>{{document.name}}</div>

    <i class="bi bi-three-dots-vertical " [matMenuTriggerFor]="menu"></i>
</div>
<input type="text" (blur)="document.isEditing = false" (keyup)="saveFolder($event)" class="form-control"
    *ngIf="document.isEditing" [(ngModel)]="document.name" />

<document-manager [documents]="document.documents"></document-manager>

<mat-menu #menu="matMenu" yPosition="above">
    <button mat-menu-item >Delete</button>
    <button mat-menu-item>Rename</button>
  </mat-menu>